body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.1rem;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
.fileUpoption > input::file-selector-button {
  cursor: pointer;
  width: 100%;
  height: 5vh;
  z-index: 2;
  margin: 0%;
  border: 1px solid #888;
  /* font: 400 0.8vmax cursive; */
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}
.fileUpoption > input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}